### Write a program to understand the different basic data types and expressions.

In [1]:
# Integer data type
num1 = 10

# Float data type
num2 = 3.14

# String data type
name = "Hiyaa"

# Boolean data type
is_true = True

In [2]:
# Basic arithmetic expressions
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
division_result = num1 / num2
modulus_result = num1 % 3

In [3]:
# String concatenation
greeting = "Hello, " + name + "!"

In [4]:
# Boolean expressions
is_equal = num1 == num2
is_greater = num1 > num2
is_true_and_greater = is_true and is_greater
is_true_or_equal = is_true or is_equal

In [5]:
print("num1:", num1, " (int)")
print("num2:", num2, " (float)")
print("name:", name, " (string)")
print("is_true:", is_true, " (boolean)")

num1: 10  (int)
num2: 3.14  (float)
name: Hiyaa  (string)
is_true: True  (boolean)

In [6]:
print("Arithmetic Expressions:")
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Division:", division_result)
print("Modulus:", modulus_result)

Arithmetic Expressions:
Sum: 13.14
Difference: 6.859999999999999
Product: 31.400000000000002
Division: 3.184713375796178
Modulus: 1

In [7]:
print("String Concatenation:")
print(greeting)

String Concatenation:
Hello, Hiyaa!

In [8]:
print("Boolean Expressions:")
print("num1 == num2:", is_equal)
print("num1 > num2:", is_greater)
print("is_true and is_greater:", is_true_and_greater)
print("is_true or is_equal:", is_true_or_equal)

Boolean Expressions:
num1 == num2: False
num1 > num2: True
is_true and is_greater: True
is_true or is_equal: True